/* ------------ Loading bar - windows oldschool skin -------------  */
body {
	background: #d6d3ce;
}
.loading-bar {
	display: inline-block;
	height: 14px;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}

.loading-bar .bar {
	display: inline-block;
	height: 10px;
	width: 6px;
	margin: 2px 1px;
	background-color: #050505;
}

.loading-bar .percentage-container {
    display: block;
	margin: 0 auto;
	-webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    transform: skewX(0deg);
}

.loading-bar .percentage-container #percentage {
    display: inline-block;
	text-align: center;
	font-weight: bold;
}