/* ------------ Loading bar default style -------------  */

.loading-bar {
	display: inline-block;
	padding: 5px 5px 1px 5px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	margin: 5px 0;
	line-height: 1.2;
	border-radius: 8px;
}

.loading-bar .bar {
	display: inline-block;
	height: 30px;
	width: 12px;
	margin: 0 2px;
	background-color: #050505;
	
	background: rgba(255,255,255,0.8);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(0,255,17,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.8)), color-stop(100%, rgba(0,255,17,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(0,255,17,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(0,255,17,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(0,255,17,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,255,17,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ff11', GradientType=0 );

	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	
	border-radius: 4px;
}

.loading-bar .percentage-container {
    display: inline-block;
    width: 50px;
	height: 30px;
	-webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    transform: skewX(0deg);
}

.loading-bar .percentage-container #percentage {
	position: absolute;
	text-align: center;
	font-weight: bold;
	width: 3em;
	left: 1px;
    display: inline-block;
    margin: 8px 3px;
}