/* ------------ Loading bar - continuous skin -------------  */

.loading-bar {
	display: inline-block;
	padding: 5px 13px;
	height: 21px;
	background-color: #111;
	border-radius: 25px;
}

.loading-bar .bar {
	display: inline-block;
	height: 19px;
	width: 16px;
	margin: 1px -7px;
	border-radius: 8px;
}

.loading-bar .percentage-container {
	display: block;
}

.loading-bar .percentage-container #percentage {
	display: block;
	font-weight: bold;
	text-align: center;
    margin: 8px 3px;
}