/* ------------ Loading bar default style -------------  */

.loading-bar {
	display: inline-block;
	padding: 5px 5px 1px 5px;
	margin: 5px 0;
	background-color: #111;
	line-height: 1.2;
	
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.loading-bar .bar {
	display: inline-block;
	height: 30px;
	width: 15px;
	margin: 0 3px;
	background-color: #050505;
}

.loading-bar .percentage-container {
	display: inline-block;
	width: 50px;
	height: 30px;
	-webkit-transform: skewX(20deg);
	-moz-transform: skewX(20deg);
	-ms-transform: skewX(20deg);
	-o-transform: skewX(20deg);
	transform: skewX(20deg);
}

.loading-bar .percentage-container .percentage {
	position: absolute;
	text-align: center;
	width: 3em;
	left: 1px;
	display: inline-block;
	margin: 8px 3px;
}